// Dark theme
$backgroundDark: #f7bf2d;
$sidebarDark: #161417;
$textDark: #6D6E71;

// Bright theme
$backgroundBright: rgb(247, 191, 45);
$sidebarBright: #161417;
$textBright: #6D6E71;

// Brand
$brandPrimary: #f7bf2d;
